schema/3.2/itop_design.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="3.2" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="../common/types.xsd" />
    <xs:include schemaLocation="attributes.xsd" />
    <xs:include schemaLocation="menus.xsd" />
    <xs:include schemaLocation="dashlets.xsd" />
    <xs:include schemaLocation="portalbricks.xsd" />
    <xs:include schemaLocation="node_branding.xsd" />
    <xs:include schemaLocation="node_classes.xsd" />
    <xs:include schemaLocation="node_dictionaries.xsd" />
    <xs:include schemaLocation="node_events.xsd" />
    <xs:include schemaLocation="node_meta.xsd" />
    <xs:include schemaLocation="node_user_rights.xsd" />

    <xs:element name="itop_design">
        <xs:annotation>
            <xs:documentation source="https://www.itophub.io/wiki/page?id=3_2_0:customization:xml_reference#xml_general_structure">
                Structural node. No comments are allowed before this tag.
                Test run: 6
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="classes" type="classesNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Declared classes</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="menus" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Declaration of the menus shown in the main GUI (left pane)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="menu" type="MenuNode" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="user_rights" type="userRightsNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Implementation of the user rights policy: users will have one or more profiles, granting them access rights.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="files" type="filesNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation source="https://www.itophub.io/wiki/page?id=latest:customization:xml_reference#files">
                            The “files” structure allow to embed binary files (for examples image files used for the object's icons) directly in an XML delta definition file.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="dictionaries" type="dictionariesNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation source="https://www.itophub.io/wiki/page?id=latest:customization:xml_reference#dictionaries">
                            For adding localizations into the XML.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="branding" type="brandingNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Appearance of the GUI</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="constants" type="constantsNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Constants to be compiled as PHP defines</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="portals" type="portalsNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Definition of entry points for the user interface</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="module_parameters" type="moduleParametersNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Definition of module specific parameters</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="module_designs" type="moduleDesignsNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Module specific design data</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="snippets" type="snippetsNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Snippets of PHP code to be injected in the PHP model files</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="meta" type="metaNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation source="https://www.itophub.io/wiki/page?id=latest:customization:xml_reference#meta">
                            Usage of this tag is restricted to Combodo for driving ITSM Designer behavior.
                            It is used to declare in XML stuff which are in PHP code and need to be known and manipulate by the ITSM Designer.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="events" type="eventsNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Event definition list</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="event_listeners" type="eventListenersNode" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Global event listeners</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:all>
            <xs:attribute name="version" type="xs:token" use="required" fixed="3.2" />
            <xs:attribute name="load">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="lax" />
                        <xs:enumeration value="strict" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- #############################################################
         ########################### nodes ###########################
         ############################################################# -->

    <xs:complexType name="filesNode">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="file" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="constantsNode">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="constant" type="alteredIdString" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="portalsNode">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="portal" type="portalNode" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="portalNode">
        <xs:all>
            <xs:element name="rank" type="xs:decimal" minOccurs="0" />
            <xs:element name="url" type="xs:string" minOccurs="0" />
            <xs:element name="handler" type="xs:string" minOccurs="0" />
            <xs:element name="allow" minOccurs="0">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="profile">
                            <xs:complexType>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deny" minOccurs="0">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="profile">
                            <xs:complexType>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>

    <xs:complexType name="moduleParametersNode">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="parameters">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:any processContents="lax" />
                    </xs:choice>
                    <xs:attribute name="id" type="xs:string" use="required" />
                    <xs:attributeGroup ref="alteredNode" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="moduleDesignsNode">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="module_design" type="moduleDesignNode" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="moduleDesignNode">
        <xs:all>
            <xs:element name="properties" minOccurs="0">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:any processContents="lax" />
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="bricks" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="brick" type="PortalBrick" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="forms" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="form">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="class" type="xs:string" minOccurs="0" />
                                    <xs:element name="properties" minOccurs="0">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="display_mode" type="xs:string" minOccurs="0" />
                                                <xs:element name="always_show_submit" type="xs:boolean" minOccurs="0" />
                                                <xs:element name="navigation_rules" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:all>
                                                            <xs:element name="submit" type="navRuleButtonNode" minOccurs="0" />
                                                            <xs:element name="cancel" type="navRuleButtonNode" minOccurs="0" />
                                                        </xs:all>
                                                        <xs:attributeGroup ref="alteredNode" />
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:all>
                                            <xs:attributeGroup ref="alteredNode" />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="fields" minOccurs="0" />
                                    <xs:element name="twig" minOccurs="0" />
                                    <xs:element name="modes" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence maxOccurs="unbounded">
                                                <xs:element name="mode">
                                                    <xs:complexType>
                                                        <xs:sequence minOccurs="0">
                                                            <xs:element name="stimuli">
                                                                <xs:complexType>
                                                                    <xs:sequence maxOccurs="unbounded">
                                                                        <xs:element name="stimulus">
                                                                            <xs:complexType>
                                                                                <xs:attribute name="id" type="xs:string" use="required" />
                                                                                <xs:attributeGroup ref="alteredNode" />
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute name="id" type="xs:string" use="required" />
                                                        <xs:attributeGroup ref="alteredNode" />
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="classes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="class">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="scopes" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence maxOccurs="unbounded">
                                                <xs:element name="scope">
                                                    <xs:complexType>
                                                        <xs:all>
                                                            <xs:element name="oql_view" type="alteredString" minOccurs="0" />
                                                            <xs:element name="oql_edit" type="alteredString" minOccurs="0" />
                                                            <xs:element name="ignore_silos" type="xs:boolean" minOccurs="0" />
                                                            <xs:element name="allowed_profiles" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence maxOccurs="unbounded">
                                                                        <xs:element name="allowed_profile">
                                                                            <xs:complexType>
                                                                                <xs:attribute name="id" type="xs:string" use="required" />
                                                                                <xs:attributeGroup ref="alteredNode" />
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:all>
                                                        <xs:attribute name="id" type="xs:string" use="required" />
                                                        <xs:attributeGroup ref="alteredNode" />
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="lists" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence maxOccurs="unbounded">
                                                <xs:element name="list">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="items">
                                                                <xs:complexType>
                                                                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                        <xs:element name="item">
                                                                            <xs:complexType>
                                                                                <xs:sequence minOccurs="0">
                                                                                    <xs:element name="rank" type="alteredFloat" />
                                                                                </xs:sequence>
                                                                                <xs:attribute name="id" type="xs:string" use="required" />
                                                                                <xs:attributeGroup ref="alteredNode" />
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute name="id" type="xs:string" use="required" />
                                                        <xs:attributeGroup ref="alteredNode" />
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="lifecycle" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="stimuli">
                                                    <xs:complexType>
                                                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="stimulus">
                                                                <xs:complexType>
                                                                    <xs:sequence minOccurs="0">
                                                                        <xs:element name="denied_profiles">
                                                                            <xs:complexType>
                                                                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                                    <xs:element name="denied_profile">
                                                                                        <xs:complexType>
                                                                                            <xs:attribute name="id" type="xs:string" use="required" />
                                                                                            <xs:attributeGroup ref="alteredNode" />
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                    <xs:attribute name="id" type="xs:string" use="required" />
                                                                    <xs:attributeGroup ref="alteredNode" />
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="action_rules" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="action_rule" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:choice maxOccurs="unbounded">
                                    <xs:any processContents="lax" />
                                </xs:choice>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="navigation_rules" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="navigation_rule" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence maxOccurs="unbounded">
                                    <xs:element name="id" type="xs:string" />
                                </xs:sequence>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>

    <xs:complexType name="snippetsNode">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="snippet" type="snippetNode" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="snippetNode">
        <xs:all>
            <xs:element name="placement" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="module" />
                        <xs:enumeration value="core" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="module" type="xs:string" minOccurs="0" />
            <xs:element name="rank" type="alteredFloat" minOccurs="0" />
            <xs:element name="content" type="xs:string" minOccurs="0" />
        </xs:all>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>

    <xs:complexType name="eventListenersNode">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="event_listener" type="globalEventListenerNode" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="globalEventListenerNode">
        <xs:all>
            <xs:element name="event" type="eventEnumeration" minOccurs="0" />
            <xs:element name="filters" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="filter" type="alteredString" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rank" type="alteredFloat" minOccurs="0" />
            <xs:element name="callback" type="xs:string" minOccurs="0" />
            <xs:element name="code" type="xs:string" minOccurs="0" />
        </xs:all>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>

    <!-- #######################################################################
         ########################### alterable types ###########################
         ####################################################################### -->


    <xs:complexType name="navRuleButtonNode">
        <xs:all>
            <xs:element name="default" type="xs:string" minOccurs="0" />
            <xs:element name="modal" type="xs:string" minOccurs="0" />
        </xs:all>
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>


    <xs:complexType name="File">
        <xs:all>
            <xs:element name="name" type="xs:string" minOccurs="0" />
            <xs:element name="mime_type" type="xs:string" minOccurs="0" />
            <xs:element name="data" type="xs:string" minOccurs="0" />
            <xs:element name="width" type="xs:integer" minOccurs="0" />
            <xs:element name="height" type="xs:integer" minOccurs="0" />
        </xs:all>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>

</xs:schema>
