schema/3.2/menus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">

    <xs:include schemaLocation="../common/types.xsd" />

    <xs:simpleType name="MenuEnableActionEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UR_ACTION_READ" />
            <xs:enumeration value="UR_ACTION_MODIFY" />
            <xs:enumeration value="UR_ACTION_DELETE" />
            <xs:enumeration value="UR_ACTION_BULK_READ" />
            <xs:enumeration value="UR_ACTION_BULK_MODIFY" />
            <xs:enumeration value="UR_ACTION_BULK_DELETE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MenuEnablePermissionEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UR_ALLOWED_NO" />
            <xs:enumeration value="UR_ALLOWED_YES" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="MenuNode" abstract="true">
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>

    <xs:complexType name="MenuGroup">
        <xs:complexContent>
            <xs:extension base="MenuNode">
                <xs:all>
                    <xs:element name="rank" type="xs:decimal" minOccurs="0" />
                    <xs:element name="enable_admin_only" type="zeroOrOneEnumeration" minOccurs="0" />
                    <xs:element name="enable_class" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_action" type="MenuEnableActionEnumeration" minOccurs="0" />
                    <xs:element name="enable_permission" type="MenuEnablePermissionEnumeration" minOccurs="0" default="UR_ALLOWED_YES" />
                    <xs:element name="enable_stimulus" type="xs:string" minOccurs="0" />
                    <xs:element name="style" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="decoration_classes" type="xs:string" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DashboardMenuNode">
        <xs:complexContent>
            <xs:extension base="MenuNode">
                <xs:all>
                    <xs:element name="rank" type="xs:decimal" minOccurs="0" />
                    <xs:element name="enable_admin_only" type="zeroOrOneEnumeration" minOccurs="0" />
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                    <xs:element name="definition_file" type="xs:string" minOccurs="0" />
                    <xs:element name="definition" minOccurs="0">
                        <xs:complexType>
                            <xs:all>
                                <xs:element name="layout" minOccurs="0">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="DashboardLayoutOneCol" />
                                            <xs:enumeration value="DashboardLayoutTwoCols" />
                                            <xs:enumeration value="DashboardLayoutThreeCols" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="title" type="xs:string" minOccurs="0" />
                                <xs:element name="cells" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence maxOccurs="unbounded">
                                            <xs:element name="cell">
                                                <xs:complexType>
                                                    <xs:all>
                                                        <xs:element name="rank" minOccurs="0" />
                                                        <xs:element name="dashlets" minOccurs="0">
                                                            <xs:complexType>
                                                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:element name="dashlet" />
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:all>
                                                    <xs:attribute name="id" type="xs:string" use="required" />
                                                    <xs:attributeGroup ref="alteredNode" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="enable_class" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_action" type="MenuEnableActionEnumeration" minOccurs="0" />
                    <xs:element name="enable_permission" type="MenuEnablePermissionEnumeration" minOccurs="0" default="UR_ALLOWED_YES" />
                    <xs:element name="enable_stimulus" type="xs:string" minOccurs="0" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NewObjectMenuNode">
        <xs:complexContent>
            <xs:extension base="MenuNode">
                <xs:all>
                    <xs:element name="rank" type="xs:decimal" minOccurs="0" />
                    <xs:element name="enable_admin_only" type="zeroOrOneEnumeration" minOccurs="0" />
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                    <xs:element name="class" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_class" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_action" type="MenuEnableActionEnumeration" minOccurs="0" />
                    <xs:element name="enable_permission" type="MenuEnablePermissionEnumeration" minOccurs="0" default="UR_ALLOWED_YES" />
                    <xs:element name="enable_stimulus" type="xs:string" minOccurs="0" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SearchMenuNode">
        <xs:complexContent>
            <xs:extension base="MenuNode">
                <xs:all>
                    <xs:element name="rank" type="xs:decimal" minOccurs="0" />
                    <xs:element name="enable_admin_only" type="zeroOrOneEnumeration" minOccurs="0" />
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                    <xs:element name="class" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_class" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_action" type="MenuEnableActionEnumeration" minOccurs="0" />
                    <xs:element name="enable_permission" type="MenuEnablePermissionEnumeration" minOccurs="0" default="UR_ALLOWED_YES" />
                    <xs:element name="enable_stimulus" type="xs:string" minOccurs="0" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TemplateMenuNode">
        <xs:complexContent>
            <xs:extension base="MenuNode">
                <xs:all>
                    <xs:element name="rank" type="xs:decimal" minOccurs="0" />
                    <xs:element name="enable_admin_only" type="zeroOrOneEnumeration" minOccurs="0" />
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                    <xs:element name="template_file" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_class" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_action" type="MenuEnableActionEnumeration" minOccurs="0" />
                    <xs:element name="enable_permission" type="MenuEnablePermissionEnumeration" minOccurs="0" default="UR_ALLOWED_YES" />
                    <xs:element name="enable_stimulus" type="xs:string" minOccurs="0" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OQLMenuNode">
        <xs:complexContent>
            <xs:extension base="MenuNode">
                <xs:all>
                    <xs:element name="rank" type="xs:decimal" minOccurs="0" />
                    <xs:element name="auto_reload" minOccurs="0" default="none">
                        <xs:simpleType>
                            <xs:union>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="none" />
                                        <xs:enumeration value="standard" />
                                        <xs:enumeration value="fast" />
                                    </xs:restriction>
                                </xs:simpleType>
                                <xs:simpleType>
                                    <xs:restriction base="xs:nonNegativeInteger" />
                                </xs:simpleType>
                            </xs:union>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="enable_admin_only" type="zeroOrOneEnumeration" minOccurs="0" />
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                    <xs:element name="oql" type="xs:string" minOccurs="0" />
                    <xs:element name="do_search" type="zeroOrOneEnumeration" minOccurs="0" />
                    <xs:element name="search_form_open" type="zeroOrOneEnumeration" minOccurs="0" />
                    <xs:element name="enable_class" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_action" type="MenuEnableActionEnumeration" minOccurs="0" />
                    <xs:element name="enable_permission" type="MenuEnablePermissionEnumeration" minOccurs="0" default="UR_ALLOWED_YES" />
                    <xs:element name="enable_stimulus" type="xs:string" minOccurs="0" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="WebPageMenuNode">
        <xs:complexContent>
            <xs:extension base="MenuNode">
                <xs:all>
                    <xs:element name="rank" type="xs:decimal" minOccurs="0" />
                    <xs:element name="enable_admin_only" type="zeroOrOneEnumeration" minOccurs="0" />
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                    <xs:element name="url" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                URL to the page within the module.
                                Prefix by a $$ to specify an absolute URL.
                                Prefix by a $ to specify an URL relative to the iTop root URL.
                                No prefix: relative to the module directory
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="in_new_window" type="xs:boolean" minOccurs="0" default="false" />
                    <xs:element name="enable_class" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_action" type="MenuEnableActionEnumeration" minOccurs="0" />
                    <xs:element name="enable_permission" type="MenuEnablePermissionEnumeration" minOccurs="0" default="UR_ALLOWED_YES" />
                    <xs:element name="enable_stimulus" type="xs:string" minOccurs="0" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ShortcutContainerMenuNode">
        <xs:complexContent>
            <xs:extension base="MenuNode">
                <xs:all>
                    <xs:element name="rank" type="xs:decimal" minOccurs="0" />
                    <xs:element name="enable_admin_only" type="zeroOrOneEnumeration" minOccurs="0" />
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_class" type="xs:string" minOccurs="0" />
                    <xs:element name="enable_action" type="MenuEnableActionEnumeration" minOccurs="0" />
                    <xs:element name="enable_permission" type="MenuEnablePermissionEnumeration" minOccurs="0" default="UR_ALLOWED_YES" />
                    <xs:element name="enable_stimulus" type="xs:string" minOccurs="0" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


</xs:schema>
