schema/3.2/node_classes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">

    <xs:include schemaLocation="../common/types.xsd" />


    <xs:complexType name="classesNode">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="class" type="classNode" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="classNode">
        <xs:all>
            <xs:element name="parent" type="xs:string" minOccurs="0" />
            <xs:element name="php_parent" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="name" type="xs:string" minOccurs="0" />
                        <xs:element name="file" type="xs:string" minOccurs="0" />
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="properties" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="is_link" type="zeroOrOneEnumeration" minOccurs="0" />
                        <xs:element name="comment" type="xs:string" minOccurs="0" />
                        <xs:element name="category" type="xs:string" minOccurs="0" />
                        <xs:element name="abstract" type="xs:boolean" minOccurs="0" />
                        <xs:element name="key_type" type="xs:string" minOccurs="0" fixed="autoincrement" />
                        <xs:element name="db_table" type="xs:string" minOccurs="0" />
                        <xs:element name="db_key_field" type="xs:string" minOccurs="0" />
                        <xs:element name="db_final_class_field" type="xs:string" minOccurs="0" />
                        <xs:element name="naming" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="attributes" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:attribute name="id" type="xs:string" use="required" />
                                                        <xs:attributeGroup ref="alteredNode" />
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attributeGroup ref="alteredNode" />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="complementary_attributes" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:attribute name="id" type="xs:string" use="required" />
                                                        <xs:attributeGroup ref="alteredNode" />
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attributeGroup ref="alteredNode" />
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="fields_semantic" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="image_attribute" type="xs:string" minOccurs="0" />
                                    <xs:element name="state_attribute" type="alteredString" minOccurs="0" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="order" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="columns">
                                        <xs:complexType>
                                            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                                                <xs:element name="column">
                                                    <xs:complexType>
                                                        <xs:attribute name="id" type="xs:string" use="required" />
                                                        <xs:attribute name="ascending" type="xs:boolean" use="required" />
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="style" minOccurs="0">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="icon" type="xs:string" minOccurs="0" />
                                    <xs:element name="main_color" type="xs:string" minOccurs="0" />
                                    <xs:element name="complementary_color" type="xs:string" minOccurs="0" />
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="reconciliation" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="attributes" minOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                                                <xs:element name="attribute" type="alteredIdString" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="indexes" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence maxOccurs="unbounded">
                                    <xs:element name="index" minOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                <xs:element name="attributes">
                                                    <xs:complexType>
                                                        <xs:sequence maxOccurs="unbounded">
                                                            <xs:element name="attribute" type="alteredIdString" />
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="id" type="xs:string" use="required" />
                                            <xs:attributeGroup ref="alteredNode" />
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="archive" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="enabled" type="xs:boolean" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="obsolescence" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence minOccurs="0">
                                    <xs:element name="condition" type="xs:string" />
                                </xs:sequence>
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="uniqueness_rules" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="rule">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="attributes" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="attribute">
                                                                <xs:complexType>
                                                                    <xs:attribute name="id" type="xs:string" use="required" />
                                                                    <xs:attributeGroup ref="alteredNode" />
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="filter" type="alteredString" minOccurs="0" />
                                                <xs:element name="disabled" type="xs:boolean" minOccurs="0" />
                                                <xs:element name="is_blocking" type="xs:boolean" minOccurs="0" default="true" />
                                            </xs:all>
                                            <xs:attribute name="id" type="xs:string" use="required" />
                                            <xs:attributeGroup ref="alteredNode" />
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="fields" minOccurs="0">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="field" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="lifecycle" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="highlight_scale" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence maxOccurs="unbounded">
                                    <xs:element name="item">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="rank" type="xs:decimal" minOccurs="0" />
                                                <xs:element name="color" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="HIGHLIGHT_NONE" />
                                                            <xs:enumeration value="HIGHLIGHT_WARNING" />
                                                            <xs:enumeration value="HIGHLIGHT_CRITICAL" />
                                                            <xs:enumeration value="HIGHLIGHT_OK" />
                                                            <xs:enumeration value="HIGHLIGHT_CLASS_NONE" />
                                                            <xs:enumeration value="HIGHLIGHT_CLASS_WARNING" />
                                                            <xs:enumeration value="HIGHLIGHT_CLASS_CRITICAL" />
                                                            <xs:enumeration value="HIGHLIGHT_CLASS_OK" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="icon" type="xs:string" minOccurs="0" />
                                            </xs:all>
                                            <xs:attribute name="id" type="xs:string" use="required" />
                                            <xs:attributeGroup ref="alteredNode" />
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="stimuli" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence maxOccurs="unbounded">
                                    <xs:element name="stimulus" type="ObjectStimulus" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="states" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence maxOccurs="unbounded">
                                    <xs:element name="state">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="initial_state_path" minOccurs="0" />
                                                <xs:element name="inherit_flags_from" type="xs:string" minOccurs="0" />
                                                <xs:element name="highlight" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="code" type="xs:string" />
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="flags" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="attribute">
                                                                <xs:complexType>
                                                                    <xs:all>
                                                                        <xs:element name="hidden" minOccurs="0">
                                                                            <xs:complexType />
                                                                        </xs:element>
                                                                        <xs:element name="read_only" minOccurs="0">
                                                                            <xs:complexType />
                                                                        </xs:element>
                                                                        <xs:element name="must_prompt" minOccurs="0">
                                                                            <xs:complexType />
                                                                        </xs:element>
                                                                        <xs:element name="must_change" minOccurs="0">
                                                                            <xs:complexType />
                                                                        </xs:element>
                                                                        <xs:element name="mandatory" minOccurs="0">
                                                                            <xs:complexType />
                                                                        </xs:element>
                                                                    </xs:all>
                                                                    <xs:attribute name="id" type="xs:string" use="required" />
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="transitions" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="transition">
                                                                <xs:complexType>
                                                                    <xs:all>
                                                                        <xs:element name="target" type="xs:string" minOccurs="0" />
                                                                        <xs:element name="flags" minOccurs="0">
                                                                            <xs:complexType>
                                                                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                                    <xs:element name="attribute">
                                                                                        <xs:complexType>
                                                                                            <xs:all>
                                                                                                <xs:element name="mandatory" minOccurs="0">
                                                                                                    <xs:complexType />
                                                                                                </xs:element>
                                                                                                <xs:element name="must_change" minOccurs="0">
                                                                                                    <xs:complexType />
                                                                                                </xs:element>
                                                                                                <xs:element name="must_prompt" minOccurs="0">
                                                                                                    <xs:complexType />
                                                                                                </xs:element>
                                                                                                <xs:element name="read_only" minOccurs="0">
                                                                                                    <xs:complexType />
                                                                                                </xs:element>
                                                                                            </xs:all>
                                                                                            <xs:attribute name="id" type="xs:string" use="required" />
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element name="actions" minOccurs="0">
                                                                            <xs:complexType>
                                                                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                                    <xs:element name="action">
                                                                                        <xs:complexType>
                                                                                            <xs:sequence>
                                                                                                <xs:element name="verb" type="xs:string" />
                                                                                                <xs:element name="params">
                                                                                                    <xs:complexType>
                                                                                                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                                                            <xs:element name="param" />
                                                                                                        </xs:sequence>
                                                                                                    </xs:complexType>
                                                                                                </xs:element>
                                                                                            </xs:sequence>
                                                                                            <xs:attribute name="id" type="xs:string" use="optional" />
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                                <xs:attributeGroup ref="alteredNode" />
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:all>
                                                                    <xs:attribute name="id" type="xs:string" use="required" />
                                                                    <xs:attributeGroup ref="alteredNode" />
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:all>
                                            <xs:attribute name="id" type="xs:string" use="required" />
                                            <xs:attributeGroup ref="alteredNode" />
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="event_listeners" minOccurs="0">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="event_listener">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="event" type="eventEnumeration" minOccurs="0" />
                                    <xs:element name="callback" type="xs:string" minOccurs="0" />
                                    <xs:element name="code" type="xs:string" minOccurs="0" />
                                    <xs:element name="rank" type="xs:string" minOccurs="0" />
                                </xs:all>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="methods" minOccurs="0">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="method">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="comment" type="alteredString" minOccurs="0" />
                                    <xs:element name="static" type="xs:boolean" minOccurs="0" />
                                    <xs:element name="access" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:restriction base="alteredString">
                                                    <xs:enumeration value="public" />
                                                    <xs:enumeration value="protected" />
                                                    <xs:enumeration value="private" />
                                                </xs:restriction>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:restriction base="alteredString">
                                                    <xs:enumeration value="LifecycleAction" />
                                                    <xs:enumeration value="EventListener" />
                                                    <xs:enumeration value="StimulusUserAction" />
                                                    <xs:enumeration value="Overload-cmdbAbstractObject" />
                                                    <xs:enumeration value="Overload-iDisplay" />
                                                    <xs:enumeration value="Overload-DBObject" />
                                                    <xs:enumeration value="Overload-ExNihilo" />
                                                    <xs:enumeration value="Factory" />
                                                    <xs:enumeration value="Internal" />
                                                    <xs:enumeration value="Helper" />
                                                    <xs:enumeration value="Custom" />
                                                </xs:restriction>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="arguments" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation source="https://www.itophub.io/wiki/page?id=latest:customization:form_prefill">
                                                    Use definition from https://www.itophub.io/wiki/page?id=latest:customization:form_prefill
                                                </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                <xs:element name="argument">
                                                    <xs:complexType>
                                                        <xs:all>
                                                            <xs:element name="type" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="attcode" />
                                                                        <xs:enumeration value="class" />
                                                                        <xs:enumeration value="current_stimulus_code" />
                                                                        <xs:enumeration value="int" />
                                                                        <xs:enumeration value="reference" />
                                                                        <xs:enumeration value="string" />
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="mandatory" type="xs:boolean" minOccurs="0" />
                                                        </xs:all>
                                                        <xs:attribute name="id" type="xs:string" use="required" />
                                                        <xs:attributeGroup ref="alteredNode" />
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attributeGroup ref="alteredNode" />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="code" type="alteredString" minOccurs="0" />
                                </xs:all>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="relations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="relation">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="neighbours">
                                        <xs:complexType>
                                            <xs:sequence maxOccurs="unbounded">
                                                <xs:element name="neighbour">
                                                    <xs:complexType>
                                                        <xs:all>
                                                            <xs:element name="query_down" type="alteredString" minOccurs="0" />
                                                            <xs:element name="query_up" type="alteredString" minOccurs="0" />
                                                            <xs:element name="attribute" type="alteredString" minOccurs="0" />
                                                            <xs:element name="direction" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="both" />
                                                                        <xs:enumeration value="down" />
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                        </xs:all>
                                                        <xs:attribute name="id" type="xs:string" use="required" />
                                                        <xs:attributeGroup ref="alteredNode" />
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attributeGroup ref="alteredNode" />
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="alteredNode" />
                </xs:complexType>
            </xs:element>
            <xs:element name="presentation" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="details" type="presentationZlist" minOccurs="0" />
                        <xs:element name="search" type="flatZlist" minOccurs="0" />
                        <xs:element name="default_search" type="flatZlist" minOccurs="0" />
                        <xs:element name="list" type="flatZlist" minOccurs="0" />
                        <xs:element name="summary" type="flatZlist" minOccurs="0" />
                        <xs:element name="custom_presentations" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence maxOccurs="unbounded">
                                    <xs:element name="custom_presentation" type="presentationZlist" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>


    <xs:complexType name="presentationZlist">
        <xs:all>
            <xs:element name="items" type="presentationItems" />
        </xs:all>
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>

    <xs:complexType name="presentationItems">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="item">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rank" minOccurs="0" type="alteredFloat" />
                        <xs:element name="items" minOccurs="0" type="presentationItems" />
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:string" use="required" />
                    <xs:attributeGroup ref="alteredNode" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>

    <xs:complexType name="flatZlist">
        <xs:all>
            <xs:element name="items">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="item">
                            <xs:complexType>
                                <xs:sequence minOccurs="0">
                                    <xs:element name="rank" type="alteredFloat" />
                                </xs:sequence>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>

    <!-- ########################### Stimuli ########################### -->
    <xs:complexType name="ObjectStimulus" abstract="true">
        <xs:annotation>
            <xs:documentation>
                Abstract base type for state transition stimuli in iTop lifecycle.
                Defines the common structure: a required 'id' and metadata via alteredNode.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0">
            <xs:element name="denied_profiles">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="denied_profile">
                            <xs:complexType>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attributeGroup ref="alteredNode" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attributeGroup ref="alteredNode" />
    </xs:complexType>

    <xs:complexType name="StimulusUserAction">
        <xs:annotation>
            <xs:documentation>
                A stimulus representing an action explicitly triggered by the end-user.
                It is shown in the Actions menu when the object is in a compatible state.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ObjectStimulus" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="StimulusInternal">
        <xs:annotation>
            <xs:documentation>
                A stimulus that is triggered programmatically by the application,
                not visible or directly accessible to the end-user.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ObjectStimulus" />
        </xs:complexContent>
    </xs:complexType>
    <!-- ########################### /Stimuli ########################### -->

</xs:schema>
